{% if object.resultType == 'cumulative' and admin.isGranted('results'|upper, object) and admin.hasRoute('results') %}
    {% set action_route = "results" %}
    {{block('action_route_link')}}
{% elseif admin.isGranted('result'|upper, object) and admin.hasRoute('result') %}
    {% set action_route = "result" %}
    {% block action_route_link %}
    {% if actions.params is defined %}
        <a href="{{ admin.generateObjectUrl(action_route, object, actions.params) }}" target="{{ actions.target is defined?actions.target:'_self' }}" class="btn btn-sm view_link {{actions.class is defined?actions.class:'btn-default'}}" title="{{ (actions.label is defined?actions.label:action_route|humanize)|trans({}, 'SonataAdminBundle') }}">
{#        <a href="{{ admin.generateObjectUrl(action_route, object, actions.params) }}" class="btn btn-sm view_link {{actions.class is defined?actions.class:'btn-default'}} {{ (not object.getIsStarted() and action_route == 'result') ? 'disabled'  }}" title="{{ (actions.label is defined?actions.label:action_route|humanize)|trans({}, 'SonataAdminBundle') }}">#}
    {% else %}
        <a href="{{ admin.generateObjectUrl(action_route, object) }}" target="{{ actions.target is defined?actions.target:'_self' }}" class="btn btn-sm view_link {{actions.class is defined?actions.class:'btn-default'}}" title="{{ (actions.label is defined?actions.label:action_route|humanize)|trans({}, 'SonataAdminBundle') }}">
{#        <a href="{{ admin.generateObjectUrl(action_route, object) }}" class="btn btn-sm view_link {{actions.class is defined?actions.class:'btn-default'}} {{ (not object.getIsStarted() and (action_route == 'result' or action_route == 'section')) ? 'disabled'  }}" title="{{ (actions.label is defined?actions.label:action_route|humanize)|trans({}, 'SonataAdminBundle') }}">#}
    {% endif %}
        {% if actions.icon is defined %}<i class="{{actions.icon}}"></i>{% endif %}
        {{ (actions.label is defined?actions.label:action_route|humanize)|trans({}, 'SonataAdminBundle') }}
    </a>
    {% endblock %}
{% endif %}